<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          {% if site.author %}
          <li class="p-name">{{ site.author | escape }}</li>
          {% endif %}
          {% if site.location %}
          <li>{{ site.location | escape }}</li>
          {% endif %}
          {% if site.email %}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% endif %}
          {% if site.resume_link %}
          <li><a href="/{{ site.resume_link | escape }}">Resume</a></li>
          {% endif %}
          {% for path in page_paths %}
            {% assign my_page = site.pages | where: "path", path | first %}
            {% if my_page.title %}
            <a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {% include social.html %}
      </div>

      <div class="footer-col footer-col-3">

      </div>
    </div>

  </div>

</footer>
