.site-title {
  @include relative-font-size(1.125);
  font-weight: 400;
  letter-spacing: 0px;
}

svg.svg-icon {
  height: 16px;
  width: 16px;
  fill: $grey-color;
}

table {
  border: 0;
}

table td {
  border: 0;
  padding: 0;
}